@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/* nav */
.navbar{
    background-color: rgb(188, 174, 160);
    color: rgb(4, 4, 4);
}
a:hover{
    background-color: rgb(171, 157, 143);
    color: rgb(218, 113, 113) !important;
}
/* main */
.bg{
    height: 36rem;
}
/* card-footer */
.card-footer{
    margin: auto;
}
.btn:hover{
    background-color: rgb(188, 174, 160);
}
/* footer */
.footer{
    background-color: rgb(188, 174, 160);
    color: black;
}